<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>River Corona</title>
    <link rel="shortcut icon" href="assets/img/foto2.JPEG" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>    
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/fontello/fontello.css">
</head>
     <body data-spy="scroll" data-target="#navbarSupportedContent" data-offset="58" >
        <header id="header">
            <div class="container-fluid">
                <a class="btn btn-info btn-sm download" href="cv" target="_blank"><i class="icon-download"></i> Download CV</a>
                <a class="btn btn-success btn-sm whats" href="https://wa.me/+527226302555" target="_blank"><i class="icon-whatsapp"></i> 7226302555</a>
                <div class="imagen-header">
                    <img src="assets/img/foto2.JPEG" class="img_profile">
                </div>
                <div class="contenido text-center">
                    <h1>
                        <span class="name_left">R</span><span class="name_left">i</span><span class="name_left">v</span><span class="name_left">e</span><span class="name_left">r</span>
                        <span class="name_left">C</span><span class="name_left">o</span><span class="name_left">r</span><span class="name">o</span><span class="name_right">n</span><span class="name_right">a</span>
                        <span class="name_right">R</span><span class="name_right">o</span><span class="name_right">m</span><span class="name_right">e</span><span class="name_right">r</span><span class="name_right">o</span>
                    </h1>
                    <hr>
                    <div class="subtitle">
                        <h1 class="et"> < > </h1>
                        <h2 class="nickname">Web Developer</h2>
                        <h1 class="et">< / ></h1>
                    </div>
                </div>
            </div>
        </header>
        <nav class="navbar navbar-expand-sm sticky-top shadow navbar-light" id="barra">
            <a class="navbar-brand" href="#header" id="title_nav"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav w-100 justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" href="#profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#work-experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#knowledge">Knowledge</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
                </li>
              </ul>
            </div>
        </nav>
        <section id="profile">
            <h2>Profile</h2>
            <div class="container">
                <div class="data">
                    <div class="image">
                        <img src="assets/img/birr.png">
                    </div>
                    <div class="text">
                        <h5 class="m-0">Academic Training</h5>
                        <p>Computer Enginner</p>
                        <p>University of Ixtlahuaca CUI</p>
                        <p>corona.romero.river@gmail.com</p>
                        <p>Xonacatlán, Mexico state</p>
                    </div>
                </div>
                <hr>
                <div class="formation">
                    <p>Computer Enginner intern, i consider that have a great capacity from analysis, autodidact,
                                        liking for the progrmamming area and i adapt to the teamwork</p>
                    <h5 class="m-0">Objetive</h5>
                    <p class="m-0"> Grow professionally in the programming area applying acquired skills during my academic training</p>
                </div>
            </div>
        </section>
        <section id="work-experience">
            <h2>Work Experience</h2>
            <div class="container d-flex">
                <div class="work-experience-item shadow">
                    <button id="edomex" class="btn" data-toggle="modal" data-target="#modal-edomex"><img src="assets/img/experince/cultura.png" alt="Secretaría de Cultura"></button>

                    <div class="modal fade" id="modal-edomex">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5>Secretaría de Cultura del Estado de México</h5>
                                    <button data-dismiss="modal" class="btn"></button>
                                </div>
                                <div class="modal-body">
                                    <h6>Web Developer</h6>
                            
                                    <h6>Toluca Méx</h6>
                                    <p class="m-0">-Development of a web system for the events managment</p>
                                    <p class="m-0">-Develop a movil application for consult pubished events</p>
                                    <p class="m-0">-Technical support to users and equipment</p>
                                    <p class="m-0">-Network installation in different enclousures</p>
                                </div>
                                <div class="modal-footer">
                                    <p>September 2019 - April 2020</p>
                                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="work-experience-item shadow">
                    <button id="freelance" class="btn" data-toggle="modal" data-target="#modal-freelance"><img src="assets/img/experince/freelance.jpg" alt="Freelance"></button>
                    <div class="modal fade" id="modal-freelance">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5>Freelance</h5>
                                    <button data-dismiss="modal" class="btn"></button>
                                </div>
                                <div class="modal-body">
                                    <h6>Web Developer</h6>
                                    <h6>Toluca Méx</h6>
                                    <p>Be part of a team for Development web projects using technologies such as html, javascript, css,php, laravel, y bootstrap</p>
                                </div>
                                <div class="modal-footer">
                                    <p>May 2020 - October 2020</p>
                                    <button data-dismiss="modal" class="btn btn-danger">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="knowledge">
            <h2 class="text-center m-0">Knowlegde</h2>
            <div class="container">
                <div class="meters d-flex justify-content-between text-center py-2">
                    <div class="expert">
                        <div class="badge badge-warning d-inline">E</div>
                        <small class="d-inline">Expert</small>
                    </div>
                    <div class="advanced">
                        <div class="badge badge-primary d-inline">A</div>
                        <small class="d-inline">Advanced</small>
                    </div>
                    <div class="intermediare">
                        <div class="badge badge-danger d-inline">I</div>
                        <small class="d-inline">Intermediare</small>
                    </div>
                    <div class="basic">
                        <div class="badge badge-info d-inline">B</div>
                        <small class="d-inline">Basic</small>
                    </div>
                </div>
                <hr style="margin-top:0;">
                <div class="skills">
                    <div class="skills-item">
                        <div class="image">
                            <img src="assets/img/knowledge/languajes.png">
                        </div>
                        <div class="content">
                            <h5>Languajes</h5>
                            <ul>
                                <li><div class="badge badge-primary d-inline">A</div> HTML5</li>
                                <li><div class="badge badge-primary d-inline">A</div> Javascript</li>
                                <li><div class="badge badge-primary d-inline">A</div> CSS3</li>
                                <li><div class="badge badge-primary d-inline">A</div> PHP</li>
                                <li><div class="badge badge-primary d-inline">A</div> Java</li>
                                <li><div class="badge badge-primary d-inline">A</div> SQL</li>
                            </ul>
                        </div>
                    </div>
                    <div class="skills-item">
                        <div class="image">
                            <img src="assets/img/knowledge/database.png" >
                        </div>
                        <div class="content">
                            <h5>Databases</h5>
                            <ul>
                                <li><div class="badge badge-primary d-inline">A</div> MySQL</li>
                            </ul>
                        </div>
                    </div>
                    <div class="skills-item">
                        <div class="image">
                            <img src="assets/img/knowledge/so.png" >
                        </div>
                        <div class="content">
                            <h5>Operating Systems</h5>
                            <ul>
                                <li><div class="badge badge-primary d-inline">A</div> Linux</li>
                                <li><div class="badge badge-primary d-inline">A</div> Windows</li>                                
                            </ul>
                        </div>
                    </div>
                    <div class="skills-item">
                        <div class="image">
                            <img src="assets/img/knowledge/framework.png" >
                        </div>
                        <div class="content">
                            <h5>Frameworks</h5>
                            <ul>
                                <li><div class="badge badge-danger d-inline">I</div> Bootstrap</li>
                                <li><div class="badge badge-danger d-inline">I</div> Laravel</li>
                                <li><div class="badge badge-info d-inline">B</div> Vue</li>
                            </ul>
                        </div>
                    </div>
                    <div class="skills-item">
                        <div class="image">
                            <img src="assets/img/knowledge/library.png" >
                        </div>
                        <div class="content">
                            <h5>Libraries</h5>
                            <ul>
                                <li><div class="badge badge-primary d-inline">A</div> Jquery</li>
                                <li><div class="badge badge-primary d-inline">A</div> Ajax</li>
                            </ul>
                        </div>
                    </div>
                    <div class="skills-item">
                        <div class="image">
                            <img src="assets/img/knowledge/idioms.png" >
                        </div>
                        <div class="content">
                            <h5>Idioms</h5>
                            <ul>
                                <li><div class="badge badge-danger d-inline">I</div>  English</li>
                                <li><div class="badge badge-primary d-inline">A</div> Spanish (Native)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="skills-item">
                        <div class="image">
                            <img src="assets/img/knowledge/soft_skills.png" >
                        </div>
                        <div class="content">
                            <h5>Soft Skills</h5>
                            <ul>
                                <li><div class="badge badge-danger d-inline">I</div>  Communication</li>
                                <li><div class="badge badge-primary d-inline">A</div>  Teamwork</li>
                                <li><div class="badge badge-danger d-inline">I</div>  Tolerance</li>
                                <li><div class="badge badge-primary d-inline">A</div>  Responsibility</li>
                                <li><div class="badge badge-primary d-inline">A</div>  Commitment</li>
                                <li><div class="badge badge-danger d-inline">I</div>  Adaptation</li>
                                <li><div class="badge badge-primary d-inline">A</div>  Problems Resolution</li>
                                <li><div class="badge badge-primary d-inline">A</div>  Autodidact</li>
                                <li><div class="badge badge-primary d-inline">A</div>  Empathy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="skills-item">
                        <div class="image">
                            <img src="assets/img/knowledge/focus.png" >
                        </div>
                        <div class="content">
                            <h5>Other Skills</h5>
                            <ul>
                                <li><div class="badge badge-primary d-inline">A</div>  POO</li>
                                <li><div class="badge badge-primary d-inline">A</div>   MVC / DAO</li>
                                <li><div class="badge badge-danger d-inline">I</div>  UML</li>
                                <li><div class="badge badge-danger d-inline">I</div>  IIS</li>
                                <li><div class="badge badge-primary d-inline">A</div>  Apache Servers</li>
                                <li><div class="badge badge-info d-inline">B</div>  Scrum</li>
                                <li><div class="badge badge-danger d-inline">I</div> Unified Process</li>
                                <li><div class="badge badge-danger d-inline">I</div> Git / GitHub</li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="projects">
            <h2>Projects</h2>
            <div class="container projects d-flex">
                <div class="projects-item shadow">
                    <button class="btn" data-toggle="modal" data-target="#project_edomex_web"><img src="assets/img/proyects/cartelera.png" alt="Cartelera Web"></button>
                    <div class="modal fade" id="project_edomex_web" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5>Web System for managment cultural and deportive events</h5>
                                    <button data-dismiss="modal" class="btn"></button>
                                </div>
                                <div class="modal-body">
                                    The system is responsible for registering users who make events publications of their enclousure, this events is perform
                                    in differents places of the state of mexico, so is added the google maps api to showing the location of the place where 
                                    where the event will be made.
                                    <br><br>
                                    The system is responsible to show the active events through the field date, the events not active is not show in the 
                                    general billboard of the system, but they can be consulted by the user who registered them.
                                </div>
                                <div class="modal-footer p-1">
                                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projects-item shadow">
                    <button class="btn" data-toggle="modal" data-target="#project_edomex_app"><img src="assets/img/proyects/app_cartelera.jpg" alt="App Móvil"></button>
                    <div class="modal fade" id="project_edomex_app">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5>App Mobile for consult cultural and deportive events</h5>
                                    <button class="btn" data-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    
                                    The app mobile it's a medium by which the society can be perform consultants of events of enclousures associated with the 
                                    secretary of culture
                                </div>
                                <div class="modal-footer p-1">
                                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projects-item shadow">
                    <button class="btn" data-toggle="modal" data-target="#project_publicaciones"><img src="assets/img/proyects/publicaciones.png" alt="Preguntas"></button>
                    <div class="modal fade" id="project_publicaciones">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5>Question Social Network</h5>
                                    <button class="btn" data-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    This is a personal project and is a social network in where the registered users can be perform questions and another user can
                                    perform commentaries by this questios, and add "like" our "dislike" any question
                                    <br><br>
                                    The authentication of system can be made registering an email or using facebook or google account, this project is maked for 
                                    laravel 8.0 and is in <a href="https://github.com/River-3412X/publicaciones-con-socialite" class="enlace" target="_blank">GitHub</a>
                                    <br><br>
                                    This project using the package socialite for the loggin the users of facebook and google account
                                </div>
                                <div class="modal-footer p-1">
                                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projects-item shadow">
                    <button class="btn" data-toggle="modal" data-target="#project_citas"><img src="assets/img/proyects/poder.jpg" alt="Citas"></button>
                    <div class="modal fade" id="project_citas">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5>Project of dating</h5>
                                    <button class="btn" data-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    The project managment dating for the registered personnel, additionally this generates reports in pdf and excel per day, or 
                                    by especify date.
                                </div>
                                <div class="modal-footer p-1">
                                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact">
            <h2 class="text-center">Contact</h2>
            <div id="app">
                <div class="container">
                    <div class="row">
                        <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 pt-2">
                            <form action="" method="post" v-on:submit.prevent="enviar">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input class="form-control" type="text" v-model="name" id="name" placeholder="Name" required >
                                </div>
                                <div class="from-group">
                                    <label for="cellphone">Cellphone:</label>
                                    <input class="form-control" type="text" v-model="cellphone" id="cellphone" placeholder="Cellphone">
                                </div>
                                <div class="form-group">
                                    <label form="email">Email:</label>
                                    <input class="form-control" type="email" v-model="email" id="email" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <label class="message">Message:</label>
                                    <textarea class="form-control" v-model="message" id="message" placeholder="Message" required cols="30" rows="10"></textarea>
                                </div>
                                <input type="submit" value="Send" class="btn btn-primary btn-block">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social-media">
                <a href="https://github.com/River-3412x" target="_blank" rel="noopener noreferrer" id="github"></a>
                <a href="https://www.linkedin.com/in/river-corona-romero-04877a1a6/" target="_blank" rel="noopener noreferrer" id="linkedin"></a>
                <a href="https://my.indeed.com/p/riverc-oe87dky" target="_blank" rel="noopener noreferrer" id="indeed"></a>
            </div>
        </section>
        
        <footer>
            <p>Developed and designed by River Corona &copy; 2021</p>
        </footer>

        <div class="toast position-fixed hide" role="alert" aria-live="assertive" aria-atomic="true" id="alert">
            <div class="toast-header">
              <strong class="mr-auto">Alert!</strong>
              <small>Now</small>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body" id="alert-body">
              The message was sent succesfully
            </div>
        </div>
        

        <script src="assets/js/jquery.js"></script>

        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
        <script src="https://cdn.emailjs.com/dist/email.min.js" type="text/javascript"></script>
       
        
        
        <script src="assets/js/mail.js" type="text/javascript"></script>
        <script src="assets/js/app.js" type="text/javascript"></script>
        <div id="cv"></div>
    </body>
</html>
