<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>River Corona</title>
    <link rel="shortcut icon" href="assets/img/foto2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>    
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/fontello/fontello.css">
</head>
     <body data-spy="scroll" data-target="#navbarSupportedContent" data-offset="58" >
        <header id="header">
            <div class="container-fluid">
                <a class="btn btn-info btn-sm download" href="cv" target="_blank"><i class="icon-download"></i> Descargar CV</a>
                <a class="btn btn-success btn-sm whats" href="https://wa.me/+527226302555" target="_blank"><i class="icon-whatsapp"></i> 7226302555</a>
                <div class="imagen-header">
                    <img src="assets/img/foto2.jpg" class="img_profile">
                </div>
                <div class="contenido text-center">
                    <h1>
                        <span class="name_left">R</span><span class="name_left">i</span><span class="name_left">v</span><span class="name_left">e</span><span class="name_left">r</span>
                        <span class="name_left">C</span><span class="name_left">o</span><span class="name_left">r</span><span class="name">o</span><span class="name_right">n</span><span class="name_right">a</span>
                        <span class="name_right">R</span><span class="name_right">o</span><span class="name_right">m</span><span class="name_right">e</span><span class="name_right">r</span><span class="name_right">o</span>
                    </h1>
                    <hr>
                    <div class="subtitle">
                        <!-- <h1 class="et"> < > </h1> -->
                        <h5 class="nickname">Ing. en Computación</h5>
                        <!-- <h1 c|lass="et">< / ></h1> -->
                    </div>
                </div>
            </div>
        </header>
        <nav class="navbar navbar-expand-sm sticky-top shadow navbar-dark" id="barra">
           <div class="container">
            <a class="navbar-brand" href="#header" id="title_nav"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav w-100 justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" href="#profile">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#work-experience">Experiencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#knowledge">Conocimiento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Proyectos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contacto</a>
                </li>
              </ul>
            </div>
           </div>
        </nav>
        <section id="profile">
            <h2>Perfil</h2>
            <div class="container">
                <div class="data">
                    <div class="image">
                        <img src="assets/img/birr.png">
                    </div>
                    <div class="text">
                        <h5 class="m-0">Formación Académica</h5>
                        <p>Ingeniería en Computación</p>
                        <p>Universidad de Ixtlahuaca CUI</p>
                        <p>Ced. Prof. 13244305</p>
                        <p>corona.romero.river@gmail.com</p>
                        <p>Toluca, Edo. Mex.</p>
                    </div>
                </div>
                <hr>
                <div class="formation">
                    <p> Considero que tengo una gran capacidad para el analisis, soy autodidacta, tengo un gran gusto por el
                        área de la programación y considero que me adapto al trabajo en equipo.</p>
                    <h5 class="m-0">Objetivo</h5>
                    <p class="m-0"> Crecer profesionalmente en el área de la programación aplicando las habilidades adquiridas durante mi formación académica </p>
                </div>
            </div>
        </section>
        <section id="work-experience">
            <h2>Experiencia</h2>
            <div class="container">
                <div class="row">
                    <div class="contenedor-items">
                        <div class="work-experience-item shadow">
                            <button id="edomex" class="btn" data-toggle="modal" data-target="#modal-edomex"><img src="assets/img/experince/cultura.png" alt="Secretaría de Cultura"></button>
        
                            <div class="modal fade" id="modal-edomex">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Secretaría de Cultura del Estado de México</h5>
                                            <button data-dismiss="modal" class="btn"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h6>Web Developer</h6>
                                    
                                            <h6>Toluca Méx</h6>
                                            <p class="m-0">-Desarrollo de un Sistema Web para administración de eventos</p>
                                            <p class="m-0">-Desarrollo de una aplicación móvil para la consulta de eventos publicados</p>
                                            <p class="m-0">-Soporte técnico a usuarios y equipos</p>
                                            <p class="m-0">-Instalaciones de Red a diferentes recintos</p>
                                        </div>
                                        <div class="modal-footer">
                                            <p>Septiembre 2019 - Abril 2020</p>
                                            <button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="work-experience-item shadow">
                            <button id="freelance" class="btn" data-toggle="modal" data-target="#modal-freelance"><img src="assets/img/experince/freelance.jpg" alt="Freelance"></button>
                            <div class="modal fade" id="modal-freelance">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Freelance</h5>
                                            <button data-dismiss="modal" class="btn"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h6>Desarrollador Web</h6>
                                            <h6>Toluca Méx</h6>
                                            <p> Formé parte de un equipo para desarrollar proyectos web usando tecnologías como html, javascript, css,php, laravel, y bootstrap</p>
                                        </div>
                                        <div class="modal-footer">
                                            <p>Mayo 2020 - Marzo 2021</p>
                                            <button data-dismiss="modal" class="btn btn-danger">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="work-experience-item shadow">
                            <button id="Opasa" class="btn" data-toggle="modal" data-target="#modal-Opasa"><img src="assets/img/experince/opasa.jpeg" alt="Opasa"></button>
                            <div class="modal fade" id="modal-Opasa">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Opasa Toluca (Operadora de Autopistas) Autopista Toluca-Zitácuaro</h5>
                                            <button data-dismiss="modal" class="btn"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h6>Desarrollador Web</h6>
                                            <h6>Toluca Méx</h6>
                                            <p> 
                                                * Corregir errores de un Sistema Gestor de Telepeaje <br>
                                                * Desarrollo de un Sistema de Ingresos de la operación de la Autopista en 3 Plazas de Cobro (La Hortaliza, Valle de Bravo y Monumento <br>
                                                * Desarrollo de un Sistema de Evaluación <br>
                                                * Desarrollo de un Sistema de Control de Fallas <br>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <p>Abril 2021 - Agosto 2022</p>
                                            <button data-dismiss="modal" class="btn btn-danger">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="work-experience-item shadow">
                            <button id="gat" class="btn" data-toggle="modal" data-target="#modal-gat"><img src="assets/img/experince/gat.jpg" alt="gat"></button>
                            <div class="modal fade" id="modal-gat">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>GAT (Grupo Avícola Tepexpan)</h5>
                                            <button data-dismiss="modal" class="btn"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h6>Desarrollador Web</h6>
                                            <h6>Jiquipilco Edo. Méx</h6>
                                            <p> 
                                                * Desarrollo de un Sistema de Administración total de la empresa (Punto de Venta, Inventario, Control de Ingresos y Gastos) <br>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <p>Septiembre 2022 - Actual</p>
                                            <button data-dismiss="modal" class="btn btn-danger">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </section>
        <section id="knowledge">
            <h2 class="text-center m-0">Conocimiento</h2>
            <div class="container">
                <div class="meters d-flex justify-content-between text-center py-2">
                    <div class="expert">
                        <div class="badge badge-warning d-inline">E</div>
                        <small class="d-inline">Experto</small>
                    </div>
                    <div class="advanced">
                        <div class="badge badge-primary d-inline">A</div>
                        <small class="d-inline">Avanzado</small>
                    </div>
                    <div class="intermediare">
                        <div class="badge badge-danger d-inline">I</div>
                        <small class="d-inline">Intermedio</small>
                    </div>
                    <div class="basic">
                        <div class="badge badge-info d-inline">B</div>
                        <small class="d-inline">Básico</small>
                    </div>
                </div>
                <hr style="margin-top:0;">
                <div class="skills">
                    <div class="skills-item">
                        <div class="image">
                            <img src="assets/img/knowledge/languajes.png">
                        </div>
                        <div class="content">
                            <h5>Lenguajes</h5>
                            <ul>
                                <li><div class="badge badge-primary d-inline">A</div> HTML5</li>
                                <li><div class="badge badge-primary d-inline">A</div> Javascript</li>
                                <li><div class="badge badge-primary d-inline">A</div> CSS3</li>
                                <li><div class="badge badge-primary d-inline">A</div> PHP</li>
                                <li><div class="badge badge-primary d-inline">A</div> Java</li>
                                <li><div class="badge badge-primary d-inline">A</div> SQL</li>
                            </ul>
                        </div>
                    </div>
                    <div class="skills-item">
                        <div class="image">
                            <img src="assets/img/knowledge/database.png" >
                        </div>
                        <div class="content">
                            <h5>Bases de Datos</h5>
                            <ul>
                                <li><div class="badge badge-primary d-inline">A</div> MySQL</li>
                            </ul>
                        </div>
                    </div>
                    <div class="skills-item">
                        <div class="image">
                            <img src="assets/img/knowledge/so.png" >
                        </div>
                        <div class="content">
                            <h5>Sistemas Operativos</h5>
                            <ul>
                                <li><div class="badge badge-primary d-inline">A</div> Linux</li>
                                <li><div class="badge badge-primary d-inline">A</div> Windows</li>                                
                            </ul>
                        </div>
                    </div>
                    <div class="skills-item">
                        <div class="image">
                            <img src="assets/img/knowledge/framework.png" >
                        </div>
                        <div class="content">
                            <h5>Frameworks</h5>
                            <ul>
                                <li><div class="badge badge-primary d-inline">A</div> Bootstrap</li>
                                <li><div class="badge badge-primary d-inline">A</div> Laravel</li>
                                <!-- <li><div class="badge badge-info d-inline">B</div> React js</li> -->
                                <li><div class="badge badge-info d-inline">B</div> Vue</li>
                            </ul>
                        </div>
                    </div>
                    <div class="skills-item">
                        <div class="image">
                            <img src="assets/img/knowledge/library.png" >
                        </div>
                        <div class="content">
                            <h5>Librerias</h5>
                            <ul>
                                <li><div class="badge badge-primary d-inline">A</div> Jquery</li>
                                <li><div class="badge badge-primary d-inline">A</div> Ajax</li>
                            </ul>
                        </div>
                    </div>
                    <div class="skills-item">
                        <div class="image">
                            <img src="assets/img/knowledge/idioms.png" >
                        </div>
                        <div class="content">
                            <h5>Idiomas</h5>
                            <ul>
                                <li><div class="badge badge-danger d-inline">I</div>  Inglés (técnico)</li>
                                <li><div class="badge badge-primary d-inline">A</div> Español (Nativo)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="skills-item">
                        <div class="image">
                            <img src="assets/img/knowledge/soft_skills.png" >
                        </div>
                        <div class="content">
                            <h5> Habilidades Blandas </h5>
                            <ul>
                                <li><div class="badge badge-danger d-inline">I</div>  Comunicación</li>
                                <li><div class="badge badge-primary d-inline">A</div>  Trabajo en Equipo</li>
                                <li><div class="badge badge-danger d-inline">I</div>  Tolerancia </li>
                                <li><div class="badge badge-primary d-inline">A</div>  Responsabilidad </li>
                                <li><div class="badge badge-primary d-inline">A</div> Buena capacidad Análitica </li>
                                <li><div class="badge badge-primary d-inline">A</div>  Autodidacta</li>
                            </ul>
                        </div>
                    </div>
                    <div class="skills-item">
                        <div class="image">
                            <img src="assets/img/knowledge/focus.png" >
                        </div>
                        <div class="content">
                            <h5> Otras Habilidades </h5>
                            <ul>
                                <li><div class="badge badge-primary d-inline">A</div>  POO</li>
                                <li><div class="badge badge-primary d-inline">A</div>   MVC / DAO</li>
                                <li><div class="badge badge-danger d-inline">I</div>  UML</li>
                                <li><div class="badge badge-danger d-inline">I</div>  IIS</li>
                                <li><div class="badge badge-primary d-inline">A</div> Servidores Apache </li>
                                <li><div class="badge badge-info d-inline">B</div>  Scrum</li>
                                <li><div class="badge badge-danger d-inline">I</div> Proceso Unificado</li>
                                <li><div class="badge badge-danger d-inline">I</div> Git / GitHub</li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="projects">
            <h2>Proyectos</h2>
            <div class="container projects d-flex">
                <div class="projects-item shadow">
                    <button class="btn" data-toggle="modal" data-target="#project_edomex_web"><img src="assets/img/proyects/cartelera.png" alt="Cartelera Web"></button>
                    <div class="modal fade" id="project_edomex_web" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5> Sistema Web para Administración de Eventos Culturales y Deportivos </h5>
                                    <button data-dismiss="modal" class="btn"></button>
                                </div>
                                <div class="modal-body">
                                    El sistema se encarga de registrar a los usuarios que realizan publicaciones de eventos de su recinto, estos eventos se realizan
                                    en diferentes lugares del Estado de México, por lo que se agrega la api de google maps para mostrar la ubicación del lugar donde
                                    donde se realizará el evento.
                                    <br><br>
                                    El sistema se encarga de mostrar los eventos activos hasta el campo fecha, los eventos no activos no se muestran en el
                                    cartelera general del sistema, pero pueden ser consultados por el usuario que los registró.
                                </div>
                                <div class="modal-footer p-1">
                                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projects-item shadow">
                    <button class="btn" data-toggle="modal" data-target="#project_edomex_app"><img src="assets/img/proyects/app_cartelera.jpg" alt="App Móvil"></button>
                    <div class="modal fade" id="project_edomex_app">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5> Aplicación Móvil para Consulta de Eventos Culturales y Deportivos</h5>
                                    <button class="btn" data-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    La app móvil es un medio por el cual la sociedad puede realizar consultas de eventos de recintos asociados a la
                                    Secretaría de Cultura
                                </div>
                                <div class="modal-footer p-1">
                                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projects-item shadow">
                    <button class="btn" data-toggle="modal" data-target="#project_publicaciones"><img src="assets/img/proyects/recolectas.PNG" alt="Preguntas"></button>
                    <div class="modal fade" id="project_publicaciones">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5>Sistema de Ingresos Hortaliza</h5>
                                    <button class="btn" data-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    
                                    Este es un proyecto que realicé para la Autopista Toluca-Zitácuaro el cuál se realizó mediante MVC utilizando 
                                    PHP como lenguaje de Back.
                                    
                                </div>
                                <div class="modal-footer p-1">
                                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projects-item shadow">
                    <button class="btn" data-toggle="modal" data-target="#project_citas"><img src="assets/img/proyects/telepejaje.jpg" alt="Citas"></button>
                    <div class="modal fade" id="project_citas">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5>Sistema Gestor de Telepeaje</h5>
                                    <button class="btn" data-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    
                                    Este es un proyecto que realicé para la Autopista Toluca-Zitácuaro, el cual
                                    se encarga de auditar que cada uno de los cruces de vehículos que pasan por las casetas 
                                    se cobren correctamente.

                                </div>
                                <div class="modal-footer p-1">
                                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact">
            <h2 class="text-center">Contacto</h2>
            <div id="app">
                <div class="container">
                    <div class="row">
                        <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 pt-2">
                            <form action="" method="post" v-on:submit.prevent="enviar" id="formulario">
                                <div class="form-group">
                                    <label for="name">Nombre:</label>
                                    <input class="form-control" type="text" v-model="name" id="name" placeholder="Nombre" required >
                                </div>
                                <div class="from-group">
                                    <label for="cellphone">Celular:</label>
                                    <input class="form-control" type="text" v-model="cellphone" id="cellphone" placeholder="Celular">
                                </div>
                                <div class="form-group">
                                    <label form="email">Correo:</label>
                                    <input class="form-control" type="email" v-model="email" id="email" placeholder="Correo" required>
                                </div>
                                <div class="form-group">
                                    <label class="message">Mensaje:</label>
                                    <textarea class="form-control" v-model="message" id="message" placeholder="Mensaje" required cols="30" rows="10"></textarea>
                                </div>
                                <input type="submit" value="Enviar" class="btn btn-primary btn-block" id="btn_form">

                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social-media">
                <a href="https://github.com/River-3412x" target="_blank" rel="noopener noreferrer" id="github"></a>
                <a href="https://www.linkedin.com/in/river-corona-romero-04877a1a6/" target="_blank" rel="noopener noreferrer" id="linkedin"></a>
                <a href="https://my.indeed.com/p/riverc-oe87dky" target="_blank" rel="noopener noreferrer" id="indeed"></a>
            </div>
        </section>
        
        <footer>
            <p>Developed and designed by River Corona &copy; 2021</p>
        </footer>

        <div class="toast position-fixed hide" role="alert" aria-live="assertive" aria-atomic="true" id="alert">
            <div class="toast-header">
              <strong class="mr-auto">Alert!</strong>
              <small>Now</small>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body" id="alert-body">
              The message was sent succesfully
            </div>
        </div>
        

        <script src="assets/js/jquery.js"></script>

        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
        <script src="https://cdn.emailjs.com/dist/email.min.js" type="text/javascript"></script>
       
        
        
        <script src="assets/js/mail.js" type="text/javascript"></script>
        <script src="assets/js/app.js" type="text/javascript"></script>
        <div id="cv"></div>
    </body>
</html>
